.image.main .laptop_icon{
	object-fit:contain;
}
.feature-icons .skill-icons .skill-holder{
	display: flex;
	align-items: center;
}
.feature-icons .skill-icons img{
	width: 50px;
	height: auto;
}
.gtr-uniform .has.error{
	border: 2px solid #e11212;
}
.gtr-uniform .error{
	color: #e11212;
}
